<h1>Profile</h1>

<div class ="profile-info">
    <div class ="avatar-name">
        <img src= "./../public/images/full-logo.png">
        <h2>{{currentUserData.fullName}}</h2>
    </div>
    <div class="profile-details">
        <p>{{currentUserData.email}}</p>
        <p>{{currentUserData.keywords}}</p>
    </div>
    
</div>