<h1>Profile</h1>

<div class="profile-info">
    <form action="/logout/delete-user" method="GET">
        <button type='submit'>Delete User</button>
    </form>
    <div class="avatar">
        <input type="checkbox" id="hack" />
        <label class="label-profile" for="hack"></label><br />
        {{!-- <img src="/images/avatar-Duncs.png"> --}}
    </div>
    <div class="profile-details">
        <form action="/edit-profile" method="POST">

            <label for="fullName"></label>
            <input type="text" name='fullName' value='{{currentUserData.fullName}}' required>

            <label for="email"></label>
            <input type="text" name='email' value='{{currentUserData.email}}' required>

            <section id='user-keywords'>
                <p>Select your areas of interest</p>
                <label for="music">Music</label>
                <input type="checkbox" name="music">

                <label for="culture">Culture</label>
                <input type="checkbox" name="culture">

                <label for="food">Food</label>
                <input type="checkbox" name="food">
            </section>

            <div class="profile-btns">
                <input type=button onClick="location.href='../'" value='Back'>
                <button type='submit' id='save-profile-update' class="update-profile-info">Save</button>

            </div>

        </form>
    </div>
</div>