<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Epic Planner</title>
</head>
<body>
    <div class = "main">
        <div class = "wrapper">
    <nav>
        <img src="/images/full-logo-white.png" alt="Epic planner logo,E white letter in red background">
        <form action="/logout" method="GET">
            <button id='logut' type='submit'>Log out</button>
        </form>
    </nav>
    {{{body}}}
    </div>
    </div>
</body>
</html>