<h1>Sign in</h1>

<article class= "log-in">
    <h2>Log in form</h2>
<form action="/auth/login"  method= "POST">
    <label for="username">Username</label>
    <input  type= "text" name= "username" required>

    <label for="password">Password</label>
    <input type= "password" name= "password" required>

    <button type="submit">Log in</button>

</form>

</article>


<article class= "sign-up">
    <h2>Sign up form</h2>
<form action="/auth/signup"  method= "POST">
    <label for="username">Username</label>
    <input  type= "text" name= "username" required>

    <label for="password">Password</label>
    <input type= "password" name= "password" required>

    <button type="submit">Log in</button>

</form>

</article>