

<article class ="select-date-container">
    
<article>
    <input type=button onClick="location.href='../'" value='Back'>
    
    <form action="/dayplan/edit-dayplan"  method= "POST">
        <input type="date" name='day-plan-date'>
        <button type="submit">Select Date</button>
    </form>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    <!--TODO Insert here -->
    {{/if}}
</article>
