<div class= "main-select-date">

    <img src="/images/reduced-logo-white.png" alt="Epic planner logo,E white letter in red background">
   
   <article class ="select-date-container">
    
<h1>Select Date</h1>
   

    <form action="/dayplan/edit-dayplan"  method= "POST">
        <input type="date" name='day-plan-date'>
        <button type="submit">submit</button>
    </form>

 <input id="back-date-btn" type=button onClick="location.href='../'" value='Back'>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    <!--TODO Insert here -->
    {{/if}}
</article>

</div>
