@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/* CSS Document */



.strength_meter {
	height: 23px;
	width: 154px;
	background: white;

}

.strength_meter div {
	height: 23px;
	width: 100%;
	height: 23px;
	text-align: left;
	color: lightpink;
	font-weight: lighter;
	line-height: 23px;
}

.veryweak {
	background-color: #FFA0A0;
	border-color: rgb(223, 251, 255) !important;
}

.weak {
	background-color: #FFB78C;
	border-color: #FF853C !important;
}

.medium {
	background-color: #FFEC8B;
	border-color: #FC0 !important;
}

.strong {
	background-color: #C3FF88;
	border-color: #8DFF1C !important;
}