@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/* CSS Document */

.strength_meter {
	height: 23px;
	width: 154px;
	background-color: #ec2c32;
	
}

.strength_meter div {
	height: 23px;
	width: 100%;
	height: 23px;
	text-align: left;
	color: white;
	font-weight: lighter;
	line-height: 23px;
	text-align: center;
}

.veryweak {
	background-color: #ec2c32;
	border-color: solid 2px white !important;
}

.weak {
	background-color: #ec2c32;
	border-color: white !important;
}

.medium {
	background-color: #ec2c32;
	border-color: white !important;
}

.strong {
	background-color: #ec2c32;
	border-color: white !important;
}