@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/*
Font family

font-family: 'Open Sans', sans-serif;

color palette:
    redTone: #ec2c32;
    blueTone: #3972f5;
    BlackTone: #000;
    */

.main-home {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

html,
body {
    height: 100%;
    background-color: #ec2c32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Open Sans", sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    display: table;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/* .wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
} */

nav {
    display: flex;
    justify-content: space-between;
}

.nav-home {
    display: flex;
    justify-content: center;
}

.nav-home img {
    width: 30%;
    max-width: 250px;
    min-width: 200px;
}

nav img {
    width: 30%;
    max-width: 250px;
    min-width: 100px;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
}

.h1-home {
    color: white;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    font-size: 22px;
    text-align: center;
}

.h2-home {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    color: white;
}

/*----- SIGN IN PAGE----- */

.input-home {
    background-color: #ec2c32;
    color: white;

    border-bottom: solid 2px white;
}

.signin-forms {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.signin-forms form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.signin-forms input {
    margin-bottom: 10px;
    font-size: 14px;
    border: none;
    border-bottom: solid 1px white;
}

#signup-button {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
}

.submit-home {
    margin-top: 6px;
    padding: 4px 20px;

    background-color: white;

    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #3972f5;

    border-radius: 40px;
}

#signin-screen-status,
.submit {
    margin-top: -6px;
    padding: 4px 20px;

    background-color: #3972f5;

    font-family: "Open Sans", sans-serif;
    font-weight: reu;
    font-size: 16px;
    color: white;

    border-radius: 40px;
}

#login-button {
    padding: 4px 30px;

    background-color: white;

    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #ec2c32;

    border-radius: 40px;
    border: solid 2px #ec2c32;
}

.location-home {
    padding-top: 4px;
    color: white;
}

.districts-home {
    background-color: white;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.districts {
    padding: 4px 20px;

    background-color: #ec2c32;

    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;

    border-radius: 40px;
    border: solid 2px #ec2c32;
}

#user-keywords {
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}

#user-keywords-home label {
    margin-bottom: 20px;
    color: white;
}

#user-keywords-home p {
    color: white;
    text-align: center;
    border-bottom: solid 1px white;
}

.checkbox {
    border-radius: 10px;
}

/*----- HOME ----- */

.home-main-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

/* home buttons */

.edit-profile-btn {
    padding: 4px;
    margin-bottom: 4px;
    border: none;
    background-color: #ec2c32;
    align-items: right;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    border-bottom: solid 2px #3972f5;
}

.delete-dayplan-btn img{
    width: 40px;
    height: 40px;

    border-radius: 40px;
    border: solid 2px #3972f5;

}
.dayplan-card, .event-details-card {
    /* border: solid 2px #3972f5;  */
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: white;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.edit-map-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.splice-date {
    color: #3972f5;
}

.edit-dayplan-btn img,
.display-map-btn img {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 40px;
    border: solid 2px #3972f5;
}

.edit-dayplan-btn,
.display-map-btn,
.delete-dayplan-btn {
    background-color: white;
    border: none;
}

.delete-event-details-btn {
    background-color: white;
    border: none;
}

.delete-event-details-btn img{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 40px;
    border: solid 2px #3972f5;
}

/* slider arrow stylings */

.slider-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: -60px;
}

#slider-left,
#slider-right {
    background-color: white;
    color: #ec2c32;
    border: none;
    border-radius: 16px;
    width: 30px;
    height: 30px;

    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
}

/* day-plan cards */
.saved-container-no-plans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;

    margin-bottom: 48px;

    border-radius: 6px;
    padding-right: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}




.dayplan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.saved-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    padding-right: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.event-info {
    margin-top: -8px;
    margin-bottom: 8px;

    color: #3972f5;
    text-transform: uppercase;
    background: #ffffff;
    padding: 4px;
    border: 2px solid #3972f5 ;
    border-radius: 6px;
  
}

.event-info:hover {
    color: #ec2c32 !important;
    border-radius: 50px;
    border-color: #ec2c32 !important;
    transition: all 0.3s ease 0s;
}

.event-text-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px 8px;
}

.add-dayplan-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.add-dayplan-container button {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 4px 20px;

    background-color: #3972f5;

    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: white;

    border: none;
    border-radius: 40px;
}

.startTime {
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    color: #ec2c32;
}

.no-display {
    display: none;
}

/* ------ SELECT DATE ----- */
.main-select-date {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.select-date-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.select-date-container form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.select-date-container button {
    margin-top: 10px;
    padding: 4px 20px;

    background-color: #3972f5;

    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;

        border: none;
    border-radius: 40px;
}

#back-date-btn {
    margin-top: 15px;
    background-color: #ec2c32;
    border: none;
    color: white;
    border-bottom: solid 1px white;
}

/* ----edit dayplan----- */

.edit-dayplan-main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.add-event-text-container p {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.edit-dayplan-top-btns {
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;

    margin-right: 4px;
    margin-left: 4px;
}

.edit-dayplan-top-btns input {
    margin-top: -10px;
    margin-right: 4px;
    margin-left: 4px;
}


.dayplan-fields-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    font-weight: bold;
}

.dayplan-fields-container label{
    color: white; 
}

.dayplan-fields-container input{
    color: white;
    background-color: #ec2c32;
    border: none;
    border-bottom: solid 2px white;
    margin-right: 10px;
   
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#dayplan-name-input {
    color: white;
    background-color: #ec2c32;
    border: none;
    border-bottom: solid 2px white;
    margin-right: 10px;
    padding-top: 4px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    border-radius: 16px
}


.dayplan-fields-container form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
   
}



/* buttons */
.dayplan-name-save-btn {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 4px 20px;

    background-color: #3972f5;

    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;

    border: none;
    border-radius: 40px;
}

.event-btns-container button {
    display: inline;
    
    
    margin: -10px 10px 0px 10px;
    background-color: #ec2c32;
    color: #fff;
    padding: 10px 15px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

    border: none;
    border-radius: 3px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

/*---- event results ------*/

.event-results-container {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: white;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.add-event-text-container {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.ordered-results {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* ------EDIT PROFILE----- */

/* .avatar img {
    width: 200px;
} */

#hack {
    display: none;
}

.label-profile {
    display: inline-block;
    width: 150px;
    height: 150px;
    cursor: pointer;
    background-image: url(../images/avatar-Duncs.png);
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

#hack:checked+label {
    background-image: url(../images/avatar-Lucia.png);
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.profile-info form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.profile-details {
    font-weight: bold;
    text-align: center;
}

#delete-user-btn {
    
    text-align: center;

    margin-top: 10px;
    margin-bottom: 20px;
    padding: 4px 20px;

    background-color:#ec2c32;

    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;

    border: none;
    border-bottom: solid 2px white;
    border-radius: 40px;


}
.name-profile-labels label {
    margin: 25px 10px 0px 10px;
}
.profile-info input {
    margin: 0px 10px 0px 10px;
    background-color: white;
    border: none;
    border-bottom: solid 1px #ec2c32;
    color: #ec2c32;
    padding: 10px 15px;

    /* text-transform: uppercase; */
    font-size: 12px;
    font-weight: bold;

    /* border: none;
    border-radius: 3px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; */
}

#save-profile-update {
    margin-top: 10px;
    padding: 4px 20px;

    background-color: #3972f5;

    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 40px;
}

/* Display event details */

.button-container input {
    margin-top: 10px;
    padding: 4px 20px;

    background-color: #3972f5;

    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 40px;
}

/* ------ mapa -------*/

.map-container {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#logut {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #ec2c32;
    border: none;
    border-bottom: solid 2px white;
    border-radius: 6px;
}